body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.error-message {
  background-color: white;
  color: black;
  width: 400px;
  position: fixed;
  top: 5%;
  right: 50%;
  transform: translateX(50%);
  border: 3px solid red;
  border-radius: 30px;
  padding: 15px;
  z-index: 200;
  font-size: 30px;
  text-align: center;
}

.nav-bar {
  position: sticky;
  top: 0;
  color: #ffffff;
  background-color: #284b63;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
  height: 70px;
  z-index: 200;
}

.search-feature input {
  width: 200px;
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
}

.search-feature button {
  padding: 12px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 1px;
}

.search-feature .home-button {
  padding: 12px 20px;
  background-color: #cd1515;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 1px;
}

.page-loader {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-animation {
  border: 10px solid black;
  border-top: 10px solid red;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {transform: rotate(0turn);}
  to {transform: rotate(1turn);}
}

.details-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 300;
  background-color: white;
  position: fixed;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  padding: -400px;
}

.details-modal img {
  height: 250px;
  width: 250px;
  margin: 30px;
}

.modal-pokemon-details div {
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.modal-pokemon-details p {
  margin: 0;
  text-align: center;
  margin-left: 15px;
  font-size: 30px;
}

.modal-pokemon-details h3 {
  margin: 0;
  text-align: center;
  margin-left: 15px;
  font-size: 30px;
}

#close-modal {
  font-size: 30px;
  position: absolute;
  margin: 0;
  top: 0;
  right: 10px;
  cursor: pointer;
}

.main-container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 20px 40px;
}

.pokemon-container {
  background-color: white;
  border: 1px solid rgb(157, 157, 157);
  cursor: pointer;
  border-radius: 8px;
  margin: 8px;
  padding: 10px 0px;
  width: 220px;
  text-align: center;
  transition: all ease-in-out 0.3s;
}

.pokemon-container div {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-container div p {
  margin: 0;
  text-align: center;
  margin-left: 5px;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pokemon-container:hover {
  background-color: #eee;
  transform: scale(1.02);
}

.pokemon-image {
  height: 100px;
  width: 100px;
}

.hide {
  display: none;
}
