body {
  font-family: Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 105px;
}

.header {
  width: 100%;
  height: 100px;
  background-color: black;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loadingPopup {
  position: fixed;
  top: 45%;
  left: 42%;
  background-color: rgb(221, 216, 216);
  color: black;
  padding: 20px;
  border-radius: 10px;
  display: none;
}

h1 {
  color: white;
  text-align: left;
  margin: 25px;
}

.pokemonList {
  margin: 25px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 1200px;
}

#loading {
  font-size: 1em;
  position: absolute;
  left: 43%;
  top: 46%;
  margin: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: none;
}

.pokemonCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: space-between;

}

.pokemonCard h2 {
  margin: 5px 0;
  font-size: 1.2em;
}

.pokemonCard p {
  margin: 2px 0;
  font-size: 1em;
}

.pokemonImage {
  width: 158px;
}

.searchBox {
  border-radius: 10px;
  height: 40px;
  width: 300px;
  font-size: 15px;
  outline: none;
  padding-right: 60px;
  margin-right: 140px;
}

#titleImage {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-color: black;
}

#noResultsMessage {
  display: none;
  color: red;
}

.moreDetailsBtn{
  border: none;
  background-color: white;
  color: #007bff;
  cursor: pointer;
}

.popupOverlay {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  position: fixed;
  top: 20%;
  left: 5%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 1350px;
  max-height: 80vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  display: flex;
}

.popup img {
  max-width: 100%;
  height: auto;
}

.popup h2 {
  text-align: left;
}

.popup p {
  margin: 10px 0;
}
.popupImage {
  width: 250px;
  position: absolute;
  right: 20%;
  top: 0;
}

.closeBtn {
  float: right;
  width: 50px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 20px;
}