
#detailsPopUp {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.863);
    position: fixed;
    z-index: 10;
    top: 0px;
}
#detailsButton{
    position: relative;
    z-index: 12;
    top: 10vh;
    right: -90vw;
}

#fullDetails {
    padding: 20px 40px;
    background: #fff;
    width: 70vw;
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 20px;
    justify-content: space-between;
    position: fixed;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* overflow-x: scroll; */
}

.sideRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}

.imageDiv {
    width: 30%;
    /* background-color: #e5e5e5; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.imageDiv img{
    width: 50%;
    height: 50%;
}

.minorDetails, .characteristics {
    padding-left: 30px;
}

.idDetails {
    font-size: 18px;
}
.idDetails::before {
    content: 'Id : ';
    font-weight: 600;
}

.nameDetails {
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 500;
}
.nameDetails::before{
    content: "Name : ";
}
.typesDetails {
    padding: 5px 3px;
}
.typesDetails::before{
    content: "Types : ";
}
.typesDetails .type {
    padding: 2px 5px;
    border-radius: 5px;
    margin: 4px;
    font-size: 18px;
    text-transform: capitalize;
    /* background-color: rgb(0, 60, 255); */
}
.characteristics h1{
    padding: 2px 5px;
    margin: 6px;
    border-radius: 5px;
    text-align: center;
}
.characteristics .base{
    background-color: #ffc107;
}
.characteristics .weight{
    background-color: #0dcaf0;
}
.characteristics .height{
    background-color: #fd7e14;
}
.characteristics .base::before{
    content: "Base : ";
    font-weight: 700;
}
.characteristics .weight::before{
    content: "Weight : ";
    font-weight: 700;
}
.characteristics .height::before{
    content: "Height : ";
    font-weight: 700;
}

.row{
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}
.column {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    max-height: 200px;
    min-height: 200px;
    width: 100%;
}
.column h2{
    align-self: flex-start;
}
.column ul {
    list-style: none;
    height: 180px;
    background-color: rgb(206, 208, 209);
    overflow-x: scroll;
}
.column ul li{
    padding: 10px 15px;
    border-bottom: 1px solid #000;
    font-size: 18px;
    font-weight: 600;
}
.weight::after{
    content: " hg";
}
.height::after{
    content: " dm";
}

/* stats */
.statsDiv{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 15px 15px;
}
.statsDiv div{
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.statsDiv div p {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
}
.statsDiv div meter{
    height: 30px;
    width: 50%;
}
.statsDiv div meter::after{
    content: attr(statValue);
    font-size: 12px;
    font-weight: 700;
    position: relative;
    top: -28px;
    left: 20%;
    
}
.statsDiv div p::after{
    content: ' : ';
}