#loader {
    display: flex;
    margin: 20% 40%;
    color: white;
}

.body-styling {
    background-color: black;
    color: white;
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

#pokemon-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

#pokemon-container div {
    border: 1px solid white;
    border-radius: 20px;
    width: 115px;
    height: 390px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    word-wrap:break-word;
}
.details-btn{
    width: 70px;
    margin-left: 22px;
}
#pokemon-container img {
    width: 110px;
    aspect-ratio: 1;
    margin-left: 2px;
}

#pokemonsdata {
    display: none;
}

.header-position {
    position: sticky;
    top: 0;
    background-color: black;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    margin: none;
    margin-top: 0px;
}

.page-heading {
    margin: 0px;
    margin-bottom: 5px;
}