* {
  margin: 0px;
}

header {
  height: 70px;
  width: 100%;
  top: 0%;
  margin: 0px;
  background-color: #F3B391;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#heading {
  font-size: 3rem;
  padding-top: 10px;
  padding-left: 20px;
}

.search {
  position: relative;
  right: 0%;
  left: 10%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

#searchPokemon {
  background-color: #FEFADC;
  border-radius: 10px;
  padding: 5px;
}

#search {
  padding: 5px;
  width: 45%;
  border-radius: 20px;
  font-size: 1rem;
  background-color: #FEFADC;
}

#allpokemons {
  display: grid;
  padding: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
}

.pokemon {
  border-radius: 20px;
  height: 220px;
  border: 10px solid #F3B391;
  background-color: #FEFADC;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  align-items: center;
}

.pokemon img , #showMoreDetails div img{
  height: 40%;
  aspect-ratio: 1;
  margin-bottom: 5px;
}

.pokemon h1 {
  margin-bottom: 10px;
}

#loader {
  width: 40%;
  height: 7%;
  padding-top: 10px;
  font-size: 1.7rem;
  margin-top: 20px;
  border: 3px solid #F3B391;
  padding-left: 30px;
  padding-right: 30px;
  color: #F3B391;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 30%;
  right: 50%;
  background-color: white;
}

#showMoreDetails {
  position: fixed;
  top: 0px;
  display: none;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.269);
}

#showMoreDetails div {
  border-radius: 20px;
  height: 88%;
  width: 55%;
  border: 10px solid #F3B391;
  background-color: #FEFADC;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  position: fixed;
  top:7%;
  left: 25%;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
}

button {
  background-color: #F3B391;
  border-radius: 10px;
  font-size: 1rem;
  width: 60%;
  padding: 3px;
  margin-top: 5px;
  border: 0px;
}

#showMoreDetails div button {
  width: 30%;
  margin: 0px;
}