.pokemon {
    height: 35vh;
    padding-right: 0px;
    overflow: hidden;
}
.groupPokemonAndButton {
    border: 1px solid black;
    margin-bottom: 10px;
    width: 16vw;
    height: 37.8vh;
    background-color: white;
}
img {
    aspect-ratio: 1;
    padding:8%;
    height: 130px;
    text-align: center;
    aspect-ratio: 1;
}
#pokemons { 
    height:100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items:baseline;
    justify-content: space-between;
    position:static;
    top:140px;
}
p{
    font-size: 15px;
    text-align: center;
}
header {
    height: 100px;
    text-align: center;
    font-size: 50px;
    background-color:aquamarine;
     position: fixed;
    top:0px; 
    margin-bottom: 40px;
    padding-left:40.28% ;
    padding-right:38.13% ;
    padding-top: 14px;
    border: 1px solid black;
    padding-bottom: 10px;
}
#loader {
    position: fixed;
    left:580px;
    top: 200px;
    font-size: 60px;
    text-align: center;
}
#search {
    position: fixed;
    top: 90px;
    right: 30px; 
    padding: 3px;
}
label {
    position: fixed;
    top:83px;
    right: 210px;
    font-size: 30px;
}
main {
    margin-top: 140px;
}