body {
  margin: 0;
  padding: 0;
  background-color: rgba(196, 196, 196, 0.6);
}

#header {
  width: 97.3%;
  height: 30px;
  position: fixed;
  top: 0;
  background-color: black;
  padding: 20px;
}

#heading {
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  float: left;
  margin-left: 10px;
}

#nav {
  margin: 0px;
  padding: 0px;
  float: right;
  display: flex;
}

#search {
  margin-right: 10px;
  margin-left: 0px;
  padding: 10px;
  border: 2px solid rgb(244, 244, 81);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  width: 200px;
}

#select {
  border: 2px solid rgb(244, 244, 81);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgb(244, 244, 81);
  color: black;
  font-weight: bold;
  font-size: small;
  margin: 0px;
  gap: 0;
}

.searchBy {
  padding: 10px;
  background-color: white;
  color: black;
  font-size: medium;
}

#pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
}

.pokemonInfo {
  padding-left: 15px;
  border-radius: 10px;
  width: 200px;
  height: 360px;
  margin: 10px 10px;
  background-color: white;
  box-shadow: 1px 1px 15px rgba(89, 89, 89, 0.507);
  border: none;
}

.pokemonName {
  padding: 5px 10px 5px 15px;
  background-color: rgba(255, 217, 0, 0.753);
  border: 2px solid gold;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  font-size: larger;
  font-weight: 600;
}

.pokemonId {
  font-size: large;
  margin: 0px;
  font-weight: 600;
}

.pokemonTypeContainer {
  font-size: large;
  font-weight: 500;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
}

.PokemonType {
  font-size: medium;
  font-weight: 500;
  padding: 0px;
  margin: 0px  25px 0px 5px;
}

.printPokemonList {
  display: flex;
  flex-wrap: wrap;
  margin: 2px 0px 8px 0px;
}

.pokemonMoveContainer {
  margin: 8px 0px 8px 0px;
  display: flex;
  flex-wrap: wrap;
  font-size: medium;
  font-weight: 500;
}

.pokemonStatContainer {
  margin: 5px 0px 5px 0px;
  display: flex;
  flex-wrap: wrap;
  font-size: medium;
  font-weight: 500;
}

.PokemonStat {
  margin: 0px 5px;
}

.pokemonAbilityContainer {
  margin: 5px 0px 5px 0px;
  display: flex;
  flex-wrap: wrap;
  font-size: medium;
  font-weight: 500;
}

.pokemonweaknessContainer {
  font-size: medium;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 5px;
}

.PokemonWeakness {
  margin: 0px 5px;
}

.PokemonMove {
  margin: 0px 10px;
}

.image {
  margin: 0px;
  height: 150px;
  aspect-ratio: 1;
}

.readMoreInfo {
  color: blue;
  cursor: pointer;
  margin-top: 7px;
}

.readMoreInfo:hover {
  text-decoration: underline;
}

.heightAndWeight {
  font-size: medium;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
}

.pokemonHeight {
  font-size: medium;
  font-weight: 500;
  margin: 0px 10px;
}

.pokemonWeight {
  font-size: medium;
  font-weight: 500;
  margin: 0px;
}

.heading {
  font-weight: bold;
  margin: 0px 10px;
}

#loader {
  background-color: white;
  border-radius: 10px;
  color: red;
  position: fixed;
  top: 50px;
  right: 33%;
  border: 1px solid black;
  padding: 20px 40px;
}

#pokemonMoreInfo {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  position: fixed;
  top: 60px;
  right: 0px;
  border: none;
  padding: 0px 0px 0px 30px;
  width: 100%;
}

#popCloseButton {
  padding: 5px 10px;
  margin: 10px;
  background-color: royalblue;
  color: white;
  font-size: large;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  cursor: pointer;
}