#heading {
  color: #fff;
  font-size: 3rem;
  padding: 1.5%;
  margin: 0;
  margin-top: 0%;
  position: sticky;
  top:0px;
}

#header {
  background-color: #000;
  display: flex;
  align-items:end;
  position: sticky;
  top:0px;
}

#pokemon-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pokemon-details {
  border: 2px solid #09010184;
  border-radius: 5%;
  margin: auto;
  margin-top: 1.5%;
  margin-left: 1%;
  height: 240px;
  width: 195px;
  box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.651);
}

.bold-text {
  font-weight: 600;
  font-size: 1.1rem;
}

.image {
  height: fit-content;
  width:80px;
  margin-left: 1%;
  margin-top: 5%;
  padding: 0%;
}

.preload {
  background: #fff;
  height: 75vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.details {
  margin-left: 2.5%;
}

.popup {
  height: 50px;
  width: 230px;
  margin-left: 42%;
  margin-top: 15%;
  background-color: #fff;
  padding-left: 35px;
  padding-top: 25px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 100;
  border: #1c1c1c69;
}

#search {
  height: 25px;
  width: 180px;
  border: 2px solid #000000c4;
  display: flex;
  justify-content: right;
  position: absolute;
  left:88%;
  margin-top: 0.05%;
  margin-bottom: 0.7%;
}

.additional-details{
  height: 470px;
  width: 440px;
  box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.651);
  border-radius: 5%;
  margin-left: 2%;
  background-color: #fff;
  position: fixed;
  top: 25%;
  left: 35%;
}

.close-button {
  background-color: #000;
  color: #fff;
  border-radius: 5%;
  margin: auto;
  margin-left: 5%;
  font-size: 1.2rem;
}

.overlay {
  background-color: #3b3a3a64;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  display: none;
  z-index: 9999;
}
