/* ~blue~ rgb(91, 217, 255)*/
/* ~Yellow~ #ffff67 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header {
  background-color: #ffff67;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

#logo {
  font-size: 2rem;
}

#search-bar {
  padding: 6px;
  font-size: 1.2rem;
  border-radius: 8px;
  background-color: #5bd9ff;
  border: none;
}

#search-results {
  position: absolute;
  top: 75px;
  right: 0;
  background-color: #b8e7f5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  width: 60%;
  max-height: 80vh;
  min-height: 30px;
  overflow-y: scroll;
  box-shadow: -10px 35px 50px gray;
  border-radius: 8px;
  border: 2px solid #ffff67;
}

#all-pokemons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.pokemonCard {
  color: black;
  border: 1px solid #5bd9ff;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  border-radius: 4px;

  img {
    height: 175px;
    align-self: center;
  }
}

.pokemon-details {
  padding: 20px;
  font-size: 1.2rem;
  color: #393902e1;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#loader-background {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcffcc8a;
}

#loader {
  width: 80px;
  height: 80px;
  border: 3px solid black;
  border-bottom: 3px solid transparent;
  animation: loading 2s infinite;
  border-radius: 50%;
}

#loader::before {
  content: '';
  border: 2px solid;
  background-color: black;
  position: fixed;
  right: 2px;
  bottom: 7px;
  transform: rotate(-9deg);
  width: 10px;
  height: 10px;
}

.hide {
  display: none !important;
}

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-color: #5bd9ff;
  border-radius: 10px;
  font-size: 2rem;
}

.retry {
  width: 70px;
  position: fixed;
  top: 50%;
  left: 50%;
}

.retry:hover {
  transform: rotate(-40deg);
}

.full-details-container {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #5bd9ff1d;
  backdrop-filter: blur(10px);
}

.full-details {
  position: relative;
  display: flex;
  background-color: #ffff67;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin: 75px;
  border: 2px solid #5bd9ff;
  width: 80vw;
  height: 70vh;
  font-size: 1.3rem;

  button {
    padding: 8px;
    font-size: 1.5rem;
    background-color: #ffff67;
    border: 2px solid #ffff67;
    position: absolute;
    top: 0;
    right: 0;
  }

  p {
    color: #393902e1;
    border-bottom: 1px solid #ffff67;
    padding: 10px;
    width: 100%;
  }

  img {
    width: 400px;
  }
}

.details {
  background-color: #5bd9ff;
  height: 100%;
  font-family: sans-serif;
  overflow-y: auto;
}
