body {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    font-family: sans-serif;
}

/* header */
#header {
    display: flex;
    border-bottom: 1px solid #DEE2FF;
    padding-bottom: 10px;
    position: sticky;
    background-color: #DEE2FF;
    border-radius: 5px;
    top: 0;
    left: 0;
}

#logo {
    width: 250px;
    margin-left: 40px;
}

mark {
    border-radius: 5px;
}

/* main */

#loading-section {
    margin-left: 40%;
}

#loading-symbol {
    border: 5px solid #9e9d9d;
    border-right: 5px solid #f7f7f7;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    left: 10%;
    bottom: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#outer-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 40px;
    padding-top: 20px;
}

.pokemon-container {
    display: grid;
    box-shadow: 0px 2px 3px 0px rgba(5, 5, 5, 0.15);
    align-items: center;
    justify-content: center;
    border: 2px solid #9e9d9d;
    border-radius: 5px;
    background-color: #fbfefb;
    cursor: pointer;
}

.pokemon-container:hover {
    background-color: #DEE2FF;
    box-shadow: none;
}

.image {
    width: 120px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 3px;
    padding: 5px;
}

.pokemon-id::before {
    content: 'Id: ';
}

.pokemon-type::before {
    content: 'Type: ';
}
.pokemon-types::before {
    content: 'Types: ';
}
.pokemon-ability::before {
    content: 'Abilities: ';
}

.pokemon-statistics::before {
    content: 'Statistics: ';
}

.pokemon-height::before {
    content: 'Height: ';
}

.pokemon-weight::before {
    content: 'Weight: ';
}

.pokemon-id::before,
.pokemon-type::before,
.pokemon-ability::before,
.pokemon-statistics::before,
.pokemon-height::before,
.pokemon-weight::before,
.pokemon-types::before {
    font-weight: bold;
    color: #556f7a;
}

.pokemon-name {
    color: #556f7a;
}

#search {
    width: 400px;
    height: 50px;
    margin-left: 35%;
    margin-top: 20px;
    padding: 5px;
    background-color: #fdf4fb;
    border: 2px solid rgb(254, 216, 4);
    border-radius: 3px;
    font-size: 15px;
}

/* pop up */
.popup-container {
    width: 300px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: whitesmoke;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
    font-size: larger;
    p {
        text-align: center;
        font-weight: bold;
        font-size: x-large;
        font-family: monospace;
    }
}
.moves-weakness-container{
    position: fixed;
    top: 25%;
    left: 60%;
    width: 400px;
    height: fit-content;
    z-index: 100;
    background-color: whitesmoke;
    border: 1px solid grey;
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
    display: none;
}
/* pokemon-popup */
.pokemon-popup-container {
    width: 30vw;
    position: fixed;
    bottom: 30%;
    left: 25%;
    background-color: whitesmoke;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    z-index: 10;
    grid-template-columns: repeat(2, 1fr);
}

.left-div,
.right-div,
.pokemon-details-div {
    display: flex;
    flex-direction: column;
}
.left-div {
    padding-left: 30px;
}
.height-weight-div , .moves-weakness{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* overlay */
#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
    display: none;
}
.close-button {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 3px;
    background-color: #DEE2FF;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.moves-btn, .weakness-btn{
    background-color: #DEE2FF;
    height: 30px;
    aspect-ratio: 1;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
}
