* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.detailsPopUp{
  position: fixed;
  height: 100vh;;
  width: 40%;
  top: 0vh;
  right: 3%;
  border: solid yellow;
  border-radius: 10%;
  box-shadow: 0px 0px 10px gray;
  backdrop-filter: blur(10px);
}

#searchTitle{
  position: absolute;
  top: 100px;

}

.searchIcon{
  height: 30px;
  position: relative;
  top: 10px;
  right: 40px;
}
header div{
  margin-left: 20px;
  font-size: 1.5em;
}
/* .searchIcon:hover{

} */
.typeIcon{
  margin: 0px 2px;
}
.hide{
  display: none;
};

.lableForSearch {
  font-size: em;
  font-size: 1.3em;
  margin-left: 20px;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
}

#searchBar {
  margin-left: 5px;
  padding: 10px;
  border-radius: 20px;
}

@keyframes loading {
  0% {
    border-bottom: 3px solid gray
  }

  100% {
    border-bottom: 6px solid gray
  }

  100% {
    transform: rotate(360deg)
  }
}

.loader {
  height: 50px;
  width: 50px;
  animation: loading 2s infinite;
  border-radius: 50%;
  margin: 30vh auto;
}


.showContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.pokemon {
  display: flex;
  width: 300px;
  height: 112px;
  align-items: center;
  justify-content: space-around;
  border: solid yellow;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
  backdrop-filter: blur(20px);
}

.type {
  font-size: 2em;
}

.name {
  bottom: -35px;
  font-size: 1.7em;
  margin-left: 2px;
  color: rgba(34, 34, 156, 0.781);
}

.pokemon img {
  height: 90px;
}

.id {
  font-weight: bolder;
}

#pageTitle {
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vh 19%;
}

#pageTitle img {
  width: 300px;
  /* border: solid; */
}

main {
  margin: 20px;
  padding: 5px;
}