* {
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #000;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#waitPopup {
  height: 100px;
  font-family: "Flexo-Demi", arial, sans-serif;
  background-color: #000;
  color: #fff;
  padding: 30px;
  position: fixed;
  top: 10vw;
  left: 80vh;
  display: flex;
  align-items: center;
  z-index: 20;
}

#search {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

#searchBar {
  height: 30px;
}

.aPokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
  width: 15vw;
  padding: 10px 10px;
  transition: all 400ms linear;
}

.aPokemon:hover {
  transform: skew(1deg);
  box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.374);
}

.pokemonType {
  padding: 10px;
}

.pokemonid {
  background-color: white;
  color: black;
  padding: 0px 10px;
}

.pokemonName {
  font-size: 30px;
  font-family: "Flexo-Demi", arial, sans-serif;
  padding-bottom: 10px;
}

.pokemonImage {
  width: 100px;
  aspect-ratio: 1;
}

.groupedHeading {
  grid-column: 5;
}

#containers {
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.loading {
  width: 100px;
  aspect-ratio: 1;
  background-color: lightcyan;
  margin: 100px auto;
  border: 8px solid transparent;
  border-radius: 50%;
  border-top: 8px solid black;
  border-style: groove;
  animation: loading-animation 2s linear infinite;
}

h3 {
  display: inline;
}

#moreDetailsContainer {
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
  position: fixed;
  top: 5%;
  left: 10%;
  padding: 30px;
  overflow: auto;
}

#popupBackground {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: black;
  opacity: 80%;
}

#closeButton {
  align-self: flex-end;
  width: 30px;
  aspect-ratio: 1;
  font-size: 20px;
}

.hide {
  display: none;
}

.noScroll {
  overflow-y: hidden;
}
