* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: rgb(228, 244, 250);
}

header {
  position: sticky;
  top: 0%;
  background-color: rgb(172, 228, 249);
  text-align: center;
  margin-bottom: 20px;
}

#searchOption,
#searchPokemon {
  height: 25px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.loadingMessage {
  height: 80%;
  align-content: center;
  text-align: center;
  font-size: 40px;
}

#pokemonContainer {
  display: none;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

#pokemonContainer section {
  border: 1px solid black;
  border-radius: 10px;
  background: white;
  width: 150px;
  text-align: center;
  box-shadow: 5px 5px rgb(251, 226, 181);
}

img {
  width: 120px;
}

.loadPopUp {
  color: black;
  background-color: rgb(228, 244, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  position: fixed;
  top: 11.5%;
  width: 100%;
  height: 80%;
}

.moreDetails {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: fixed;
  border: 3px solid black;
  background-color: white;
  top: auto;
  bottom: 10px;
  width: 40%;
  right: 10px;
}

.moreDetails img {
  padding-left: 40%;
}

.pokemonDetails {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vw;
}

.closeButton button {
  position: fixed;
  right: 12px;
  height: 25px;
  width: 60px;
  border: none;
  background-color: rgb(250, 65, 65);
}